@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html, body {
    overflow-x:hidden;
}

body{
    line-height: 22px;
    background-color: aliceblue;
    position: relative;
    margin-top: 110px;
}

.nav li{
    float:left;
}

/* ------------------------------------Paddings, margins and text */


@media (max-width: 390px) {
.size-small{font-size:0.7em;
line-height: 13px;}
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .3rem;}

.nav-padding{
    padding-top: 15px;
    padding-bottom: 15px;
}

h1{
    font-family: "Nanum Myeongjo", sans-serif;
}

nav i{
    font-size: 50px;
    color: white;
}

nav a{
    font-family: "Nanum Myeongjo", sans-serif;
    text-align: center;
       
}

.navbar-brand{
    margin-right: 0px;
}


hr{
    margin-top: 0;
    margin-bottom: 0;
}


.navbar-dark .navbar-brand{
    color: rgb(214, 195, 127);
}

nav .fas{
    position: relative;
    left: -17px;
    bottom: 8px;
}

.nav-item-style{
    font-size: 22px;
    border-right: 2px solid rgb(214, 195, 127);
    top: 50%;
    bottom: 0;
}

.contact-style-nav{
    font-size: 22px;
    top: 50%;
    bottom: 0;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(214, 195, 127);

}

.callout-padding{
    padding-top: 45px; 
    padding-bottom: 30px;
    
    border: 1px solid #a5adb7;
}

.list-text{
    font-family: "Crimson Text", sans-serif;
    color: white;
    font-size: large;
}

ul {
  list-style: none; 
}

.scroll-offset{
    padding-top: 130px; 
    margin-top: -130px;
}

.tagline{
    font-size: x-large;
}

.form-style{
    width:50%;
    background-color: #1a1926e8;
    padding: 25px;
    border-radius: .3rem;
}

.form-labels{
    font-family: "Crimson Text", sans-serif;
    color: rgb(214, 195, 127);
    font-size: x-large;
    padding: 15px 15px 15px 0px;
}

.form-promo-check{
    font-family: "Crimson Text", sans-serif;
    color: rgb(214, 195, 127);
    font-size: medium;   
}

.message-input{
    vertical-align: text-top;
    text-align: left;
    height: 154px;
    
}


/* ------------------------------------Bullet style code obtained from https://www.w3schools.com/howto/howto_css_bullet_color.asp */

.bullet-style:before {
    content: "\2022";
    color: red;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

/* ------------------------------------Bullet style code ends */

@media (min-width:1200px) {
.line-1-padding{
    padding-top: 45px;
    padding-bottom: 53px;}
}


@media (max-width: 1200px) and (min-width:992px) {
.line-1-padding{
    padding-top: 18px;
    padding-bottom: 7px;}
}

@media (min-width:1200px) {
.line-2-padding{
    padding-top: 50px;
    padding-bottom: 69px;
}
}

@media (max-width: 1200px) and (min-width:992px) {
.line-2-padding{
    padding-top: 21px;
    padding-bottom: 26px;}
}

.line-3-padding{
    padding-top: 55px;
    padding-bottom: 72px;
}

@media (min-width:1200px) {
.line-4-padding{
    padding-top: 40px;
    padding-bottom: 35px;}
}

@media (max-width: 768px){ 
   .pd-mobile{
    padding-bottom: 20px;}
   }

@media (max-width: 768px){ 
   .pd-mobile{
    padding-bottom: 20px;}
   }

.divider{
    height: 30px;
}


/* ------------------------------------COLORS */

.nav-bg{
    background-color:rgb(32, 60, 92);
    border-bottom: 1px solid rgb(87, 79, 52)
}

.blue-fill-t{
    background-color: rgba(32, 60, 92, 0.9 );
}

.green-fill{
    background-color: rgb(60,92,32);
}

.slate-fill{
    background-color: #1a1926;
}

.white-fill{
    background-color: whitesmoke;
    border: 2px solid #707070;
}

.no-fill{
    background-color: aliceblue;
}

.h-style-1{
    font-family: "Nanum Myeongjo", sans-serif;
    color: white;
    margin-bottom: 25px;
    
}

.h-style-2{
    font-family: "Nanum Myeongjo", sans-serif;
    color: white;
    font-size: 24px;
}

.h-style-3{
    font-family: "Nanum Myeongjo", sans-serif;
    color:rgb(214, 195, 127);
    font-size: 24px;
    padding-bottom: 10px;
}

.h-style-4{
    font-family: "Nanum Myeongjo", sans-serif;
    color:#2D5EA3;
    font-size: 25px;
    padding-bottom: 10px;
}


.sig-orange{
    color: rgb(214, 195, 127);
}

.p-style-1{
    color: silver;
    
}

.p-style-2{
    margin-top: 30px;
}

.p-style-2 b{
    
    color: silver;
}

.p-style-2 i{
    
    color:  rgb(214, 195, 127);
}

b {
    color: #BAA868;
}

.book-now-style{
    color: #eeeeee;
    background-image: linear-gradient(to right, #f98d1a, green);
    border-color: #ffc107;
    border-radius: 2rem;
    font-weight: 600;
}

.book-now-style1{
    font-size: xx-large;
    color: #eeeeee;
    background-image: linear-gradient(to right, #f98d1a, green);
    border-color: #ffc107;
    border-radius: 2rem;
    font-weight: 500;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    color: rgb(255, 255, 255);
    border-color: rgb(63, 218, 63);
    background-image: linear-gradient(to right, #cc7315, rgb(2, 104, 2));
    font-weight: 600;


}

.body-style{
    font-family: "Crimson Text", sans-serif;
    color: rgb(212, 204, 174);
    font-size: large;
}

.body-style-1{
    font-family: "Crimson Text", sans-serif;
    color: rgb(214, 195, 127);
    font-size: large;
}

.body-style-2{
    font-family: "Crimson Text", sans-serif;
    color: #485E77;
    font-size: large;
}

h2 i{
    color:#f98d1a;
}


/* ------------------------------------IMAGES */

.hero-image{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;

    height: 90vh;
    width: 100%;
    background: url("/assets/images/cottage-cover-800.jpg") no-repeat bottom center fixed;
    background-size: cover;
    
}

@media (max-width: 768px) {
#hero-image{
    height: 90vh;}
}

.img-style{
    border-radius: 2%;
    border: 3px solid  rgb(32, 60, 92);
}

.image-2{
    display: none;
}

@media (max-width: 992px) and (min-width:768px){ 
   .image-1{
     display: none;
   }

   .image-2{
    display: block;
    height: 415px;
   }
}

@media (max-width: 768px){ 
   .image-3{
     display: none;
   }
}

.image-4-size{

   padding-left: 30px;

}

@media (min-width:1200px){
   .image-4-size{
     height: 303.75px;
     
   }
}

@media (min-width:992px)and (max-width: 1200px){ 
   .image-4-size{
     height: 253.125px;
   }
}

@media (min-width:992px)and (max-width: 1200px){ 
   .image-4-size{
     height: 253.125px;
   }
}

.form-bg{
    background-image: url("/assets/images/contact-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid  rgb(32, 60, 92);

    position:relative;
    display:flex;
    height: 90vh;
    width: 100%;

    align-items: center;
    justify-content: center;
}

.form-padding{
    padding-right: 0px;
    padding-left: 0px;
}